/* You can add global styles to this file, and also import other style files */
.island{
    background-image: url("assets/images.jpg");
}
.ocean{
    background-color: white;
}
.monkey{
    background-image: url("assets/monkey-cartoon-face.jpg");
}
